<!-- search pop up -->
<p-dialog header="Search Globally" [(visible)]="displayModal" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '97vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <input type="text" class="form-control search_input" [(ngModel)]="searchWord"
        (ngModelChange)="this.searchWordUpdate.next($event)">
    <div style="height: 50vh;">
        <ng-container *ngFor="let item of searchResult">
            <div class="list-group searchedList">
                <a (click)="navigate(item.slug)"
                    class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" [innerHTML]="item.page_name"></h5>
                    </div>
                    <!-- <div class="d-flex"> -->
                        <p class="mb-1" [innerHTML]="item.text_content"></p>
                        <!-- <ng-container *ngIf="item.text_content.length > 50">...</ng-container> -->
                    <!-- </div> -->
                </a>
            </div>
        </ng-container>
    </div>
</p-dialog>

<!-- Header Start -->
<section [ngClass]="{ header_section: false, header_section1: true}" id="header">
    <!-- Header Logo Section Start -->
    <div class="head_logo">
        <div class="web_logo" (click)="navigate('home')">
            <img src="{{img_baseURL}}logo.png" alt="" width="100%" height="100%">
        </div>
    </div>
    <!-- Header Logo Section End -->
    <!-- Header Nav Links Section for desktop screen Start -->
    <div class="head_nav_links">
        <div class="nav_links_div">
            <div class="language_dropdown">
                <div class="nav_link1">
                    <i (click)="showModalDialog()" class="fa fa-search"></i>
                </div>
                <div class="nav_link para_family">
                    <!-- <div class="nav_link para_family" (click)="changeLanguage()"> -->
                    <!-- <select name="" id="">
                        <option value="hi">Hindi</option>
                        <option value="en">English</option>
                    </select> -->
                    <!-- <div *ngIf="langCheck"><span>English</span><i class="fa fa-angle-down" style="padding-left:10px;"></i></div>
                    <div *ngIf="!langCheck"><span>Hindi</span><i class="fa fa-angle-up" style="padding-left:10px;"></i></div> -->
                    <select name="language" class="form-control" style="cursor: pointer;" [(ngModel)]="language"
                        (change)="getLanguage($event)">
                        <option selected value="en"><span>English</span><i class="fa fa-angle-down"
                                style="padding-left:10px;"></i></option>
                        <option value="hi">Hindi</option>
                    </select>

                    <!-- <p-dropdown [options]="language" [(ngModel)]="language" optionLabel="name" optionDisabled="inactive"></p-dropdown> -->
                </div>
            </div>
            <ul class="unOrderNavLinks">
                <ng-container *ngFor="let item of navLinks; index as index">

                    <ng-container *ngIf="index < 7"> 

                        <li class="nav_link para_family navigation_menus">
                            <span (click)="navigate(item.slug_eng)">{{item.title_eng}}</span>

                            <ng-container *ngIf="item.subpage?.length>0">
                                <ul class="unOrderSubNavLinks">

                                    <ng-container *ngFor="let submenu of item.subpage">

                                        <li class="sub_nav_link para_family">
                                            <span (click)="navigate(submenu.slug_eng)">{{submenu.title_eng}}</span>

                                            <ng-container *ngIf="submenu?.subpage?.length > 0">
                                                <ul class="subsublink">
                                                    <ng-container *ngFor="let subsubmenu of submenu.subpage">
                                                        <li>
                                                            <span (click)="navigate(subsubmenu.slug_eng)">{{subsubmenu.title_eng}}</span>
                                                        </li>
                                                    </ng-container>
                                                </ul>
                                            </ng-container>

                                        </li>

                                    </ng-container>

                                </ul>
                            </ng-container>

                        </li>

                    </ng-container>

                </ng-container>
            </ul>
        </div>
    </div>
    <!-- Header Nav Links Section for desktop screen End -->
    <!-- Header Nav Links Section for mobile screen Start -->
    <div class="resp_head_nav_links">
        <div class="nav_icon d-flex align-items-center">
            <div class="nav_link d-flex para_family">
                <!-- <div class="nav_link para_family" (click)="changeLanguage()"> -->
                <!-- <select name="" id="">
                    <option value="hi">Hindi</option>
                    <option value="en">English</option>
                </select> -->
                <!-- <div *ngIf="langCheck"><span>English</span><i class="fa fa-angle-down" style="padding-left:10px;"></i></div>
                <div *ngIf="!langCheck"><span>Hindi</span><i class="fa fa-angle-up" style="padding-left:10px;"></i></div> -->
                <select name="language" class="form-control" style="cursor: pointer;" [(ngModel)]="language"
                    (change)="getLanguage($event)">
                    <option selected value="en"><span>English</span><i class="fa fa-angle-down"
                            style="padding-left:10px;"></i></option>
                    <option value="hi">Hindi</option>
                </select>

                <!-- <p-dropdown [options]="language" [(ngModel)]="language" optionLabel="name" optionDisabled="inactive"></p-dropdown> -->
            </div>
            <div class="nav_link1">
                <i class="fa fa-search light-color" (click)="showModalDialog()"></i>
            </div>
            <button class="navbar-toggler pr-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span style="display: flex;align-items:center;" (click)="openmenu()" *ngIf="!openMenu"><i style="font-size:24px;"
                        class="fa fa-bars light-color"></i></span>
                <span style="display: flex;align-items:center;" (click)="openmenu()" *ngIf="openMenu"><i style="font-size:24px;"
                        class="fa light-color">&#xf00d;</i></span>
            </button>
        </div>
        <div class="open-menu" *ngIf="openMenu">
            <ul class="responsive-menu">
                <li class="nav_link para_family" *ngFor="let item of navLinks;index as index">
                    <span (click)="navigate(item.slug_eng)">{{item.title_eng}}</span><i *ngIf="item.subpage?.length>0"
                        (click)="openSubmenus(index, 'submenu')" class="fa fa-angle-down" style="margin-left:15px;"></i>
                    <ng-container *ngIf="item.subpage?.length>0">
                        <ul *ngIf="submenuCheck && index == menuIndex" class="unOrderSubNavLinks"
                            style="list-style: none;padding-left: 15px;max-height:150px; overflow:auto;">
                            <ng-container *ngFor="let submenu of item.subpage; index as subIndex">
                                <li class="sub_nav_link para_family">
                                    <span (click)="navigate(submenu.slug_eng)">{{submenu.title_eng}}</span><i *ngIf="submenu.subpage?.length>0"
                                        (click)="openSubmenus(subIndex,'subsubmenu')" class="fa fa-angle-down" style="margin-left:15px;"></i>
                                        <ng-container *ngIf="submenu.subpage?.length>0">
                                            <ul *ngIf="subsubmenuCheck && subIndex == subMenuIndex" class="subsublink" style="list-style: none;padding-left:15px;">
                                                <ng-container *ngFor="let subsubmenu of submenu.subpage; index as subIndex">
                                                    <li>
                                                        <span (click)="navigate(subsubmenu.slug_eng)">{{subsubmenu.title_eng}}</span>
                                                    </li>
                                                </ng-container>
                                            </ul>
                                        </ng-container>
                                </li>
                            </ng-container>
                        </ul>
                    </ng-container>
                </li>
            </ul>
        </div>
    </div>
    <!-- Header Nav Links Section for mobile screen End -->
</section>
<!-- Header End -->