.search_input {
    border-radius: 0;
    box-shadow: none;
    color: #898989;
    // border-color: #898989;
    height: 30px;
    &:focus {
        border-color: #898989;
    }
}
.searchedList {
    a {
        cursor: pointer;
        border: none;
        border-bottom: 1px solid #898989;
        border-radius: 0;
        &:hover {
            background: none;
        }
    }
    p {
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.header_section {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: #f4f4f4;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 14px 29px 0px;
    align-items: center;

    .head_logo {
        .web_logo {
            cursor: pointer;
            width: 115px;
            height: 35px;
            transition: 1s;

            img {}
        }
    }

    .head_nav_links {
        display: flex;
        align-items: center;

        .nav_links_div {
            .unOrderNavLinks {
                font-size: 7px;
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;
                margin: 0;

                .navigation_menus {
                    padding: 0 15px;
                    cursor: pointer;

                    ul {
                        display: none;
                    }

                    // font-family: kohinoorregular;
                    // &:hover {
                    //     .unOrderSubNavLinks {
                    //         display: block;
                    //     }
                    // }

                    // .unOrderSubNavLinks {
                    //     display: none;
                    //     // font-size: 7px;
                    //     // list-style: none;
                    //     // padding: 0;
                    //     // display: flex;
                    //     // justify-content: space-between;
                    //     // margin: 0;
                    //     // .sub_nav_link {
                    //     //     padding: 0 15px;
                    //     //     cursor: pointer;
                    //     // }
                    // }
                }

                .nav_link1 {
                    color: #6f6e6e;
                    padding: 0 15px;
                    cursor: pointer;
                }
            }
        }
    }

    .resp_head_nav_links {
        display: none;
    }
}

.header_section1 {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    background-color: #f4f4f4;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 14px 29px 0px;
    align-items: center;

    .head_logo {
        .web_logo {
            cursor: pointer;
            width: 300px;
            height: 60px;
            transition: 1s;
        }
    }

    .head_nav_links {
        display: flex;
        align-items: center;

        .nav_links_div {
            font-size: 20px;
            line-height: 20px;

            .language_dropdown {
                // font-size: 14px;
                list-style: none;
                padding: 0;
                display: flex;
                justify-content: end;
                margin: 0;
                padding-bottom: 15px;

                .nav_link {
                    padding: 0 15px;
                    cursor: pointer;
                    // font-family: kohinoorregular;

                    &:last-child {
                        padding-right: 0;
                    }

                    i {
                        font-size: 25px;
                    }

                    select {
                        border: none;
                        background: transparent;
                        padding: 0;
                        font-size: 15px;
                        color: #6f6e6e;
                        font-family: kohinoorregular;
                        height: 100%;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                .nav_link1 {
                    color: #6f6e6e;
                    padding: 0 15px;
                    cursor: pointer;
                }
            }

            .unOrderNavLinks {
                // font-size: 14px;

                list-style: none;
                padding: 0;
                display: flex;
                justify-content: space-between;
                margin: 0;

                .nav_link {
                    padding: 0 15px;
                    cursor: pointer;
                    // position: relative;

                    // font-family: kohinoorregular;
                    .unOrderSubNavLinks {
                        display: none;
                        transition: 0.3s;
                    }

                    &:hover {
                        .unOrderSubNavLinks {
                            position: absolute;
                            width: 135px;
                            display: block;
                            list-style: none;
                            padding: 15px;
                            // display: flex;
                            justify-content: space-between;
                            margin: 0;
                            background: #f4f4f4;
                            font-size: 15px;
                            li {
                                padding-bottom: 15px;
                                &:last-child {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }

                    &:last-child {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .resp_head_nav_links {
        display: none;
    }
}

:host ::ng-deep {
    .p-dialog .p-dialog-header {
        border-radius: 0px;
        padding: 15px;
    }
    .p-dialog .p-dialog-content {
        padding: 15px;
    }
    .p-dialog .p-dialog-header .p-dialog-header-icon {
        justify-content: end;
        &:hover {
            background: none!important;
        }
        &:focus {
            box-shadow: none;
        }
    }
}

@media (max-width: 1199px) {
    .header_section1 {
        padding: 31px 60px;

        .head_logo {
            .web_logo {
                width: 215px;
                height: 45px;
            }
        }

        .head_nav_links {

            .nav_links_div {

                .language_dropdown {
                    font-size: 15px;

                    .nav_link {

                        i {
                            font-size: 20px;
                        }

                        select {
                            border: none;
                            background: transparent;
                            padding: 0;
                            // font-size: 20px;
                            height: 100%;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    .nav_link1 {
                        padding: 0 15px;
                        cursor: pointer;
                    }
                }

                .unOrderNavLinks {
                    font-size: 15px;
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    margin: 0;

                    .nav_link {
                        padding: 0 15px;
                        cursor: pointer;
                        // font-family: kohinoorregular;

                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .header_section {
        .head_nav_links {
            display: none;
        }

        .resp_head_nav_links {
            display: block;
            
            .nav_link {
                padding: 0 15px;
                cursor: pointer;
                i {
                    font-size: 25px;
                }

                select {
                    border: none;
                    background: transparent;
                    padding: 0;
                    font-size: 15px;
                    color: #6f6e6e;
                    font-family: kohinoorregular;
                    height: 100%;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .nav_icon {
                button:focus {
                    outline: 0;
                }
            }

            .open-menu {
                position: absolute;
                background: whitesmoke;
                box-shadow: 0 0.125rem 0.25rem rgba(255, 244, 244, 0.08);
                right: 0;
                z-index: 99;
                width: 50%;
                text-align: left;
                padding: 30px 0;
                top: 90px;

                .responsive-menu {
                    margin: 0;
                    list-style: none;
                    line-height: 30px;
                    letter-spacing: 1px;

                    .nav_link {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .header_section1 {
        padding: 22.5px 45px;

        .head_logo {
            .web_logo {
                // width: 200px;
                // height: 60px;
            }
        }

        .head_nav_links {
            display: none;
        }

        .resp_head_nav_links {
            display: block;

            .nav_link {
                // padding-right: 7.5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                i {
                    font-size: 25px;
                }

                select {
                    margin: 0 15px!important;
                    border: none;
                    background: transparent;
                    padding: 0;
                    font-size: 15px;
                    color: #6f6e6e;
                    font-family: kohinoorregular;
                    height: 100%;

                    &:focus {
                        box-shadow: none;
                    }
                }
            }

            .nav_icon {
                button:focus {
                    outline: 0;
                }

                .nav_link1 {
                    color: #6f6e6e;
                    padding: 0 15px!important;
                }
            }

            .open-menu {
                position: absolute;
                background: whitesmoke;
                box-shadow: 0 0.125rem 0.25rem rgba(255, 244, 244, 0.08);
                right: 0;
                z-index: 99;
                width: 50%;
                text-align: left;
                padding: 30px 0;
                top: 90px;

                .responsive-menu {
                    padding-left: 30px;
                    margin: 0;
                    list-style: none;
                    line-height: 30px;
                    letter-spacing: 1px;
                    // font-family: kohinoorlight;

                    .nav_link {
                        cursor: pointer;
                        font-size: 15px;
                    }
                }
            }

            .navbar-toggler {
                padding: 0 0 0 15px;
            }
        }
    }
}

@media (max-width:767px) {
    .header_section1 {
        padding: 13.5px 30px;

        .head_logo {
            .web_logo {
                width: 150px;
                height: 30px;
            }
        }

        .resp_head_nav_links {
            display: block;

            .nav_icon {
                button:focus {
                    outline: 0;
                }
            }

            .open-menu {
                position: absolute;
                background: whitesmoke;
                box-shadow: 0 0.125rem 0.25rem rgba(255, 244, 244, 0.08);
                right: 0;
                z-index: 99;
                width: 50%;
                text-align: left;
                padding: 30px 0;
                top: 60px;

                .responsive-menu {
                    margin: 0;
                    list-style: none;
                    line-height: 30px;
                    letter-spacing: 1px;

                    .nav_link {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .header_section {
        padding: 10px;

        .head_logo {
            .web_logo {
                width: 160px;
                height: 50px;
            }
        }
    }
}

@media (max-width:575px) {
    .header_section {
        padding: 10px;

        .head_logo {
            .web_logo {
                width: 130px;
                height: 40px;
            }
        }

        .resp_head_nav_links {
            .open-menu {
                width: 100%;
                top: 60px;
            }
        }
    }

    .header_section1 {
        padding: 13px 30px;

        .head_logo {
            .web_logo {
                // width: 130px;
                // height: 40px;
            }
        }

        .resp_head_nav_links {
            .open-menu {
                width: 100%;
                top: 60px;
            }
        }
    }
}

@media (max-width: 425px) {
    .searchedList {
        p {
            height: 45px;
        }
    }
    .header_section1 {
        padding: 17.5px 30px;

        .head_logo {
            .web_logo {
                width: 125px;
                height: 25px;
                img {
                    vertical-align: inherit;
                }
            }
        }
        .resp_head_nav_links {

            .nav_link {
                i {
                    font-size: 20px;
                }

                select {
                    margin: 0 7.5px 0 0px!important;
                }
            }

            .nav_icon {
                .nav_link1 {
                    padding: 0 7.5px!important;
                }
                i {
                    font-size: 20px!important;
                }
            }

            .navbar-toggler {
                padding: 0 0 0 7.5px;
            }
        }
    }
}

@media (max-width: 350px) {
    .header_section1 {
        padding: 18px 30px;

        .head_logo {
            .web_logo {
                width: 100px;
                height: 20px;
                img {
                    vertical-align: inherit;
                }
            }
        }
        .resp_head_nav_links {

            .nav_link {
                i {
                    font-size: 15px;
                }

                select {
                    margin: 0 7.5px 0 0px!important;
                }
            }

            .nav_icon {
                .nav_link1 {
                    padding: 0 7.5px!important;
                }
                i {
                    font-size: 15px!important;
                }
            }
        }
    }
}