.all_section {
    .contact_section {
        padding: 30px 60px 60px 60px;
        .contact_content {
            p {
                // font-family: Kohinoorregular;
                padding-bottom: 90px;
                // font-size: 20px;
            }
        }
        .form_row {
            display: flex;
            justify-content: space-between;
            .contact_form {
                width: calc(100% - 59.02%);
                form {
                    .parentSection {
                        margin-bottom: 15px;
                    }
                    label {
                        color: #898989;
                        font-family: kohinoorlight;
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                    input {
                        border-radius: 0;
                        box-shadow: none;
                        color: #898989;
                        // margin-bottom: 15px;
                        height: 36px;
                    }
                    input:focus {
                        border: 1px solid #ced4da;
                    }
                    select {
                        border-radius: 0;
                        box-shadow: none;
                        color: #898989;
                        // margin-bottom: 15px;
                        height: 36px;
                        padding: 0!important;
                    }
                    select:focus {
                        border: 1px solid #ced4da;
                    }
                    textarea {
                        border-radius: 0;
                        height: 114px;
                    }
                    textarea:focus {
                        box-shadow: none;
                        border: 1px solid #ced4da;
                    }
                    .send_btn {
                        img {
                            cursor: pointer;
                        }
                        .submit_btn {
                            border: none;
                            padding: 0;
                            background: transparent;
                        }
                        .submit_btn:focus {
                            border: none;
                            outline: none;
                        }
                    }
                }
            }
            .iframe_row {
                width: calc(100% - 58.03%);
                iframe {
                    width: 100%;
                    height: 360px;
                    border:0;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}
:host ::ng-deep {
    .all_section {
        .contact_section {
            .form_row {
                .iframe_row {
                    iframe {
                        width: 100%;
                        height: 360px;
                        border:0;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    @media (max-width: 892px) {
        .all_section {
            .contact_section {
                .form_row {
                    .iframe_row {
                        iframe {
                            width: 100%;
                            height: 285px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .all_section {
        .contact_section {
            padding: 30px 45px 60px 45px!important;
            .form_row {
                .contact_form {
                    width: calc(100% - 50%);
                    padding-right: 30px;
                    form {
                        label {
                            font-size: 15px;
                        }
                        input {
                            border-radius: 0;
                            box-shadow: none;
                            color: #898989;
                            // margin-bottom: 15px;
                            height: 30px;
                        }
                        select {
                            border-radius: 0;
                            box-shadow: none;
                            color: #898989;
                            // margin-bottom: 15px;
                            height: 30px;
                        }
                        textarea {
                            height: 100px;
                        }
                        .send_btn {
                            img {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .iframe_row {
                    padding-left: 30px;
                    width: calc(100% - 50%);
                }
            }
        }
    }
}
@media (max-width: 892px) {
    .all_section {
        .contact_section {
            .form_row {
                .iframe_row {
                    padding-left: 30px;
                    width: calc(100% - 50%);
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .all_section {
        .contact_section {
            padding: 30px 30px 60px 30px!important;
            .contact_content {
                p {
                    padding-bottom: 60px;
                }
            }
            .form_row {
                flex-direction: column;
                .contact_form {
                    padding-right: 0;
                    width: 100%;
                    form {
                        label {
                            font-size: 15px;
                        }
                        input {
                            border-radius: 0;
                            box-shadow: none;
                            color: #898989;
                            // margin-bottom: 15px;
                            height: 30px;
                        }
                        select {
                            border-radius: 0;
                            box-shadow: none;
                            color: #898989;
                            // margin-bottom: 15px;
                            height: 30px;
                        }
                        textarea {
                            height: 100px;
                        }
                        .send_btn {
                            img {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .iframe_row {
                    padding-top: 60px;
                    padding-left: 0;
                    width: 100%;
                }
            }
        }
    }
}