<!-- footer section start -->
<div class="background_image">
    <div class="both_section">
        <section class="footer_section">
            <div class="footer_container">
                <div class="footer_row row m-0">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-8 p-0 quick_links">
                        <p class="footer_heading heading_family">
                            <span>Quick links</span>
                        </p>
                        <p class="footer_sub_heading para_family" (click)="footerNavigation('coming-soon')"><span>Sangrah</span></p>
                        <p class="footer_sub_heading para_family" (click)="footerNavigation('coming-soon')">
                            <span>Third space</span>
                        </p>
                        <p (click)="footerNavigation('contact')" class="footer_sub_heading para_family">
                            <span >Get in touch</span>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 p-0 image_div" (click)="bottomToTop()">
                        <!-- <div class="dotman_img">
                            <img src="./../../../assets/dot man 6.png" alt="" width="100%" height="100%">
                        </div> -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-12 p-0 social_links">
                        <!-- <p class="footer_heading">Follow us</p> -->
                        <div class="social_icons">
                            <div class="icon_images">
                                <a href="https://www.facebook.com/Dharohar.udr" target="_blank" rel="noopener noreferrer">
                                <img src="{{img_baseURL}}fb icon.png" alt="" width="100%" height="100%" /></a>
                            </div>
                            <div class="icon_images">
                                <a href="https://www.instagram.com/dharohar_udr/" target="_blank" rel="noopener noreferrer">
                                <img src="{{img_baseURL}}insta icon.png" alt="" width="100%" height="100%" /></a>
                            </div>
                            <div class="icon_images">
                                <a href="https://www.linkedin.com/company/dharohar" target="_blank" rel="noopener noreferrer">
                                <img src="{{img_baseURL}}linkedin icon.png" alt="" width="100%" height="100%" /></a>
                            </div>
                        </div>
                        <!-- <p class="footer_heading p-0">Sponsor</p> -->
                        <!-- <div class="secure_img">
                            <img src="./../../../assets/secure.png" alt="" width="100%" height="100%">
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- footer section end -->
        <!-- Copyright section start -->
        <section class="copyright_section">
            <div class="copyright_section_container">
                <p class="m-0 para_family">
                    Dharohar
                    <i class="fa fa-copyright mx-1"></i>
                    2022
                </p>
                <p class="m-0 para_family">Supported by Secure Meters</p>
            </div>
        </section>
    </div>
</div>
<!-- Copyright section end -->