<!-- footer section start -->
<section class="footer_section">
    <div class="container py-4">
        <div class="row m-0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 p-0 quick_links">
                <p class="footer_heading">Quick Links</p>
                <p class="footer_sub_heading">Sangrah</p>
                <p class="footer_sub_heading">Third space</p>
                <p class="footer_sub_heading">Get in touch</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 p-0 image_div">
                <div class="dotman_img">
                    <img src="./../../../assets/dot man 6.png" alt="" width="100%" height="100%">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-4 p-0 social_links">
                <p class="footer_heading">Follow us</p>
                <div class="social_icons">
                    <div class="icon_images">
                        <img src="./../../../assets/facebook.png" alt="" width="100%" height="100%">
                    </div>
                    <div class="icon_images">
                        <img src="./../../../assets/instagram.png" alt="" width="100%" height="100%">
                    </div>
                    <div class="icon_images">
                        <img src="./../../../assets/linkedin.png" alt="" width="100%" height="100%">
                    </div>
                </div>
                <p class="footer_heading p-0">Sponsor</p>
                <div class="secure_img">
                    <img src="./../../../assets/secure.png" alt="" width="100%" height="100%">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer section end -->
<!-- Copyright section start -->
<section class="copyright_section">
    <div class="container text-center">
        <p class="m-0">Dharohar<i class="fa fa-copyright mx-1"></i>2022. All Right Reserved</p>
    </div>
</section>
<!-- Copyright section end -->

