<div class="all_section">
    <app-breadcrumb-banner [bannerData]="bannerData"></app-breadcrumb-banner>
    <section class="main_content">
        <div class="heading_section">
            <p class="main_heading">{{programData.heading}}</p>
        </div>
        <div class="both_section">
            <div class="content_section">
                <!-- <ng-container *ngFor="let item of [].constructor(1)"> -->
                    <p class="light-color" [innerHTML]="programData.text_content"></p>
                <!-- </ng-container> -->
            </div>
            <div class="images_section">
                <!-- <ng-container *ngFor="let item of [].constructor(1)"> -->
                    <img src="{{programData.image}}" [alt]="programData.image_alt ?? ''" [title]="programData.image_title ?? ''">
                <!-- </ng-container> -->
            </div>
        </div>
        <div class="both_section_reponsive">
            <!-- <ng-container *ngFor="let item of [].constructor(1)"> -->
                <div class="content_section">
                    <p class="light-color" [innerHTML]="programData.text_content"></p>
                    <!-- </ng-container> -->
                </div>
                <div class="images_section">
                    <!-- <ng-container *ngFor="let item of [].constructor(3)"> -->
                    <img src="{{programData.image}}" [alt]="programData.image_alt ?? ''" [title]="programData.image_title ?? ''">
                </div>
            <!-- </ng-container> -->
        </div>
    </section>
    <section class="story_section">
        <ng-container *ngFor="let item of storyImage; index as index">
            <div class="card_image">
                <img src="{{imageBaseurl +'section_third_image/'+ item.image}}" [alt]="item.image_alt ?? ''" [title]="item.image_title ?? ''">
                <div class="design_section" *ngIf="index==0" style="background:#ffca05"></div>
                <div class="design_section" *ngIf="index==1" style="background:#f26f21"></div>
                <div class="design_section" *ngIf="index==2" style="background:#e21f26"></div>
            </div>
        </ng-container>
    </section>
    <section class="carousal_section">
        <p-carousel [value]="sliderImages" [numVisible]="3" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
            <ng-template let-images pTemplate="item">
                <div class="product-item">
                    <div class="product-item-content">
                        <div class="image_div">
                            <img src="{{imageBaseurl +'section_fifth_image/'+images.image}}" [alt]="images.image_alt ?? ''" [title]="images.image_title ?? ''" class="product-image" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </section>
</div>