.all_section {
    // margin-top: 150px;

    .overview_section {

        .static_row {
            .content_col {
                background: #66676a;
                padding: 90px 90px 90px 120px;

                .static_content {
                    margin: 0;
                    color: white;
                    font-size: 48px;
                    font-weight: 600;
                    letter-spacing: 4px;
                    padding-bottom: 30px;
                }

                .visit_btn {
                    margin: 0;
                    color: white;
                    border: 1px solid white;
                    padding: 5px 25px;
                    border-radius: 0;
                    cursor: pointer;
                }
            }

            .map_col {
                height: 210px;

                img {
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                }
            }

            .content_section {
                padding: 30px 0;

                p {
                    font-size: 40px;
                    font-family: kohinoorbold;
                }
            }
        }
    }

    .breadcrumb_section {
        padding: 22.5px 60px;
        background: #f4f4f4;

        div {
            font-size: 25px;
            font-family: 'Kohinoorregular';
            // span {
            //     font-size: 50px;
            // }
        }

        .breadcrumb_links {
            display: flex;
            align-items: baseline;

            .breadcrumb_dots {
                width: 5px;
                height: 5px;
                border-radius: 25px;

                &:first-child {
                    margin: 0 3px 0 3px;
                    background: #ffca05;
                }

                &:nth-child(2) {
                    margin: 0 3px 0 0;
                    background: #f26f21;
                }

                &:last-child {
                    margin: 0 8px 0 0;
                    background: #e21f26;
                }
            }
        }
    }

    .main_content {
        padding: 90px 60px;

        .heading_section {
            .main_heading {
                font-size: 35px;
                font-family: 'kohinoorbold';
                padding-bottom: 30px;
            }

            .sub_heading {
                font-size: 20px;
                font-family: 'kohinoorbold';
                padding-bottom: 5px;
                font-family: kohinoorlight;

                &:last-child {
                    padding-bottom: 30px;
                }
            }
        }

        .both_section {
            display: flex;
            justify-content: space-between;

            .content_section {
                width: calc(100% / 0.33);
                padding-right: 30px;

                p {
                    font-size: 20px;
                    font-family: kohinoorlight;
                }
            }

            .images_section {
                width: calc(100% / 0.66);
                height: 100%;
                padding-left: 30px;

                img {
                    margin-bottom: 30px;
                    width: 100%;
                    height: 345px;
                    object-fit: cover;
                }
            }
        }

        .both_section_reponsive {
            display: none;
        }
    }
}

:host ::ng-deep {
    .p-carousel .p-carousel-indicators {
        display: none;
    }

    .p-carousel .p-carousel-content .p-carousel-prev,
    .p-carousel .p-carousel-content .p-carousel-next {
        width: fit-content;
        margin: 0;
    }
    .p-carousel .p-carousel-content .p-carousel-prev:focus,
    .p-carousel .p-carousel-content .p-carousel-next:focus {
        width: fit-content;
        margin: 0;
        box-shadow: none;
    }

    .p-carousel-container {
        // width: 70% !important;
        // margin: auto;
    }
    .p-carousel .p-carousel-content .p-carousel-prev:enabled:hover,
    .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
        background: transparent!important;
        color: #66676a;
    }
}

@media (max-width:1299px) {
    .all_section {
        .overview_section {

            .static_row {
                .content_col {
                    background: #66676a;
                    padding: 90px 90px 90px 120px;

                    .static_content {
                        margin: 0;
                        color: white;
                        font-size: 48px;
                        font-weight: 600;
                        letter-spacing: 4px;
                        padding-bottom: 30px;
                    }

                    .visit_btn {
                        margin: 0;
                        color: white;
                        border: 1px solid white;
                        padding: 5px 25px;
                        border-radius: 0;
                        cursor: pointer;
                    }
                }

                .map_col {
                    height: 210px;

                    img {
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                    }
                }

                .content_section {
                    padding: 30px 0;

                    p {
                        font-size: 40px;
                        font-family: kohinoorbold;
                    }
                }
            }
        }

        .breadcrumb_section {
            padding: 18.75px 60px;
            background: #f4f4f4;

            div {
                font-size: 20px;
                font-family: 'Kohinoorregular';

                span {
                    font-size: 35px;
                }
            }

            .breadcrumb_dots {
                width: 4px;
                height: 4px;

                &:first-child {
                    margin: 0 3px 0 3px;
                    background: #ffca05;
                }

                &:nth-child(2) {
                    margin: 0 3px 0 0;
                    background: #f26f21;
                }

                &:last-child {
                    margin: 0 8px 0 0;
                    background: #e21f26;
                }
            }
        }

        .main_content {
            padding: 90px 60px;

            .heading_section {
                .main_heading {
                    font-size: 30px;
                    font-family: 'kohinoorbold';
                    padding-bottom: 30px;
                }

                .sub_heading {
                    font-size: 20px;
                    font-family: 'kohinoorbold';
                    padding-bottom: 5px;
                    font-family: kohinoorlight;

                    &:last-child {
                        padding-bottom: 30px;
                    }
                }
            }

            .both_section {
                display: flex;
                justify-content: space-between;

                .content_section {
                    width: calc(100% / 0.33);
                    padding-right: 30px;

                    p {
                        font-size: 17px;
                        font-family: kohinoorlight;
                    }
                }

                .images_section {
                    width: calc(100% / 0.66);
                    height: 100%;
                    padding-left: 30px;

                    img {
                        margin-bottom: 30px;
                        width: 100%;
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media (max-width:1199px) {
    .all_section {
        // margin-top: 120px;
    }
}

@media (max-width:1024px) {
    .all_section {
        // margin-top: 90px;

        .overview_section {

            .static_row {
                .content_col {
                    background: #66676a;
                    padding: 90px 90px 90px 120px;

                    .static_content {
                        margin: 0;
                        color: white;
                        font-size: 48px;
                        font-weight: 600;
                        letter-spacing: 4px;
                        padding-bottom: 30px;
                    }

                    .visit_btn {
                        margin: 0;
                        color: white;
                        border: 1px solid white;
                        padding: 5px 25px;
                        border-radius: 0;
                        cursor: pointer;
                    }
                }

                .map_col {
                    height: 210px;

                    img {
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                    }
                }

                .content_section {
                    padding: 30px 0;

                    p {
                        font-size: 40px;
                        font-family: kohinoorbold;
                    }
                }
            }
        }

        .breadcrumb_section {
            padding: 22.5px 45px;
            background: #f4f4f4;

            div {
                font-size: 20px;
                font-family: 'Kohinoorregular';

                span {
                    font-size: 35px;
                }
            }
            .breadcrumb_dots {
                width: 4px!important;
                height: 4px!important;
            }
        }

        .main_content {
            padding: 75px 45px 45px 45px;

            .heading_section {
                .main_heading {
                    font-size: 25px;
                    font-family: 'kohinoorbold';
                    padding-bottom: 15px;
                }

                .sub_heading {
                    font-size: 15px;
                    font-family: 'kohinoorbold';
                    padding-bottom: 5px;
                    font-family: kohinoorlight;

                    &:last-child {
                        padding-bottom: 15px;
                    }
                }
            }

            .both_section {
                display: flex;
                justify-content: space-between;

                .content_section {
                    width: calc(100% / 0.33);
                    padding-right: 15px;

                    p {
                        font-size: 15px;
                        font-family: kohinoorlight;
                    }
                }

                .images_section {
                    width: calc(100% / 0.66);
                    height: 100%;
                    padding-left: 15px;

                    img {
                        margin-bottom: 30px;
                        width: 100%;
                        height: 225px;
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .all_section {
        // margin-top: 60px;

        .overview_section {

            .static_row {
                .content_col {
                    background: #66676a;
                    padding: 90px 90px 90px 120px;

                    .static_content {
                        margin: 0;
                        color: white;
                        font-size: 48px;
                        font-weight: 600;
                        letter-spacing: 4px;
                        padding-bottom: 30px;
                    }

                    .visit_btn {
                        margin: 0;
                        color: white;
                        border: 1px solid white;
                        padding: 5px 25px;
                        border-radius: 0;
                        cursor: pointer;
                    }
                }

                .map_col {
                    height: 210px;

                    img {
                        width: 100%;
                        height: 100%;
                        // object-fit: cover;
                    }
                }

                .content_section {
                    padding: 30px 0;

                    p {
                        font-size: 40px;
                        font-family: kohinoorbold;
                    }
                }
            }
        }

        .breadcrumb_section {
            padding: 26.25px 30px;
            background: #f4f4f4;

            div {
                font-size: 18px;
                font-family: 'Kohinoorregular';

                span {
                    font-size: 25px;
                }
            }
        }

        .main_content {
            padding: 60px 30px 30px 30px;

            .heading_section {
                .main_heading {
                    font-size: 25px;
                    font-family: 'kohinoorbold';
                    padding-bottom: 15px;
                }

                .sub_heading {
                    font-size: 15px;
                    font-family: 'kohinoorbold';
                    padding-bottom: 5px;
                    font-family: kohinoorlight;

                    &:last-child {
                        padding-bottom: 15px;
                    }
                }
            }

            .both_section {
                display: flex;
                justify-content: space-between;

                .content_section {
                    width: calc(100% / 0.33);
                    padding-right: 15px;

                    p {
                        font-size: 10px;
                        font-family: kohinoorlight;
                    }
                }

                .images_section {
                    width: calc(100% / 0.66);
                    height: 100%;
                    padding-left: 15px;

                    img {
                        margin-bottom: 30px;
                        width: 100%;
                        height: 125px;
                    }
                }
            }
        }
    }
}

@media (max-width: 475px) {
    .all_section {
        .main_content {
            padding: 60px 14px 30px 14px;
            .heading_section {
                .main_heading {
                    padding: 0 16px 15px 16px;
                }
            }
            .both_section {
                display: none;
            }

            .both_section_reponsive {
                display: block;

                img {
                    width: 100%;
                    height: 250px;
                    padding-bottom: 15px;
                }

                .content_section {
                    p {
                        padding: 0 16px;
                        font-size: 15px;
                        padding-bottom: 15px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}