<div class="all_section">
    <!-- <section class="overview_section">
        <div class="row static_row m-0">
            <div class="col-12 map_col p-0">
                <img src="./../../assets/gallery4.jpeg" alt="">
            </div>
        </div>
    </section>
    <section class="breadcrumb_section">
        <div>
            <div class="breadcrumb_links">Home
                <div class="breadcrumb_dots" style="color: #ffca05;" *ngFor="let item of [].constructor(3)"></div>
                 Stroies</div>
        </div>
    </section> -->
    <app-breadcrumb-banner [bannerData]="bannerData"></app-breadcrumb-banner>
    <section class="main_content">
        <div class="heading_section">
            <p class="main_heading heading_family">{{heading | titlecase}}</p>
        </div>
        <div class="both_section">
            <div class="content_section para_family">
                <ng-container *ngFor="let item of detailContent">
                    <p style="padding-bottom:15px;" class="light-color" [innerHTML]="item.text_content"></p>
                </ng-container>
                <!-- <div>
                    <p class="para_family" style="padding-bottom: 5px;">Date/Author</p>
                    <p class="para_family">Tags/Page</p>
                </div> -->
            </div>
            <div class="images_section">
                <ng-container *ngFor="let item of detailImages">
                    <img src="{{imageBaseurl+'section_two_image_story/'+item.image}}" alt="">
                </ng-container>
            </div>
        </div>
        <div class="both_section_reponsive">
            <p-carousel [value]="detailImages" [numVisible]="1" [numScroll]="1" [circular]="true">
                <ng-template let-images pTemplate="item">
                    <div class="product-item">
                        <div class="product-item-content">
                            <div class="image_div">
                                <img src="{{imageBaseurl +'section_two_image_story/'+images.image}}" alt="" class="product-image" />
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
            <ng-container *ngFor="let item of detailContent">
                <div class="content_section para_family">
                    <p class="light-color" [innerHTML]="item.text_content"></p>
                    <!-- </ng-container> -->
                </div>
            </ng-container>
        </div>
    </section>
</div>