
<!-- static section start -->
<section class="static_section">
    <div class="row static_row m-0">
        <div class="col-lg-7 col-12 content_col">
            <p class="static_content">
                Building resilient communities of lifelong learners
            </p>
            <p class="btn visit_btn">Visit Page</p>
        </div>
        <div class="col-lg-5 col-12 map_col p-0">
            <img src="./../../assets/map.png" alt="">
        </div>
    </div>
</section>
<!-- static section end -->
