.all_section {
    // margin-top: 150px;

    // Home banner and map section
    .static_section {
        // padding: 0 60px;

        .static_row {
            .content_col {
                background: #66676a;
                padding: 90px 90px 90px 120px;

                .static_content {
                    margin: 0;
                    color: white;
                    font-size: 48px;
                    font-weight: 600;
                    letter-spacing: 4px;
                    padding-bottom: 30px;
                }

                .visit_btn {
                    margin: 0;
                    color: white;
                    border: 1px solid white;
                    padding: 5px 25px;
                    border-radius: 0;
                    cursor: pointer;
                }
            }

            .map_col {
                // height: 481px;
                // height: calc(100% - 33.93%);
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                }

                .absolute_content {
                    position: absolute;
                    bottom: 5px;
                    right: 12%;
                    // font-size: 25px;
                    font-family: kohinoorlight;
                }
            }

            .content_section {
                padding: 30px 0;

                p {
                    font-size: 40px;
                    // font-weight: 600;
                    // letter-spacing: 4px;
                    // font-family: kohinoorbold;
                }
            }
        }
    }

    // Projects card section
    .card_section {
        background: #f4f4f4;
        padding: 60px 45px 60px 45px;
        //position: sticky;
        top: -58%;

        .container-fluid {
            .section_content {
                position: relative;
                padding: 0 15px 90px 15px;

                .section_text {
                    // font-family: Kohinoorregular;
                    min-height: 85px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin: 0;
                    // padding-bottom: 90px;
                    font-size: 20px;
                    width: calc(100% - 12.57%);

                    p {
                        max-height: 90px;
                    }
                }

                .dot_man1 {
                    width: 45px;
                    height: 85px;
                    position: absolute;
                    bottom: 0;
                    left: 40px;
                }

                .dot_man2 {
                    width: 123px;
                    height: 123px;
                    position: absolute;
                    bottom: 0;
                    right: 30px;
                }
            }

            .nav_link_cards {
                // cursor: pointer;

                .project_card {
                    width: calc(100% / 3);
                    padding: 0 15px;

                    .card_box {
                        width: 100%;

                        .card_image {
                            height: 323px;

                            img {
                                width: 100%;
                                height: 100%;
                                // object-fit: cover;
                            }
                        }

                        .card_content {
                            background: white;
                            padding: 60px 35px;
                            position: relative;
                            min-height: 365px;

                            .card_heading {
                                // font-family: kohinoorbold;
                                font-size: 25px;
                                // letter-spacing: 2px;
                                font-weight: 700;
                                padding-bottom: 30px;
                            }

                            .card_text {
                                height: 140px;
                                overflow: hidden;
                                // font-family: kohinoorlight;
                                // line-height: 29px;
                                // letter-spacing: 1px;
                                font-size: 20px;
                            }

                            .design_section {
                                width: 26px;
                                height: 26px;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                border-top-left-radius: 100%;
                                background-color: #ffca05;

                                &:first-child {
                                    // background: black;
                                }
                            }
                        }
                    }
                }

                justify-content: space-between;
            }
        }
    }

    // Gallery section
    .gallery_section {
        background: #f4f4f4;
        padding: 90px 52.5px 60px 52.5px;
        //position: sticky;
        top: -25%;
        height: 100%;
        // box-shadow: 0 -8px 10px -8px lightgrey;

        .gallery_container {

            .gallery_heading {
                padding: 0 7.5px;

                .heading {
                    margin: 0;
                    font-size: 50px;
                    padding-bottom: 30px;
                    // font-family: kohinoorbold;
                }
            }

            .gallery_img {
                .gallery_row {
                    justify-content: space-between;

                    img {
                        object-fit: cover;
                    }

                    .banner_img {
                        position: relative;
                        height: 555px;
                        width: 50%;
                        padding: 0 7.5px;

                        p {
                            margin: 0;
                            position: absolute;
                            bottom: 20px;
                            left: 25px;
                            font-size: 25px;
                            color: white;
                            font-weight: 500;
                            // letter-spacing: 2px;

                        }

                    }

                    .bulk_images {
                        width: 50%;

                        .images_row {
                            justify-content: space-between;

                            &:first-child {
                                padding-bottom: 15px;
                            }

                            .images {
                                height: 270px;
                                position: relative;
                                width: 50%;
                                padding: 0 7.5px;

                                p {
                                    margin: 0;
                                    position: absolute;
                                    bottom: 8px;
                                    left: 15px;
                                    font-size: 17px;
                                    color: white;
                                    // letter-spacing: 1px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // Who we are section
    .who_we_are_section {
        background: #f4f4f4;
        padding: 90px 60px 180px 60px;
        //position: sticky;
        top: -25%;
        // box-shadow: 0 -8px 10px -8px lightgrey;

        .who_we_are_container {
            position: relative;
            background: #f4f4f4;

            .section_image_absolute {
                // height: calc(100% - 120px);
                width: calc(100% - 60%);
                position: absolute;
                // bottom: -120px;
                top: 142px;

                // padding-right: 30px;
                img {
                    object-fit: cover;
                }
            }

            .section_row {

                // .main_content {
                // display: flex;
                .section_col2 {
                    margin-left: auto;
                    position: relative;
                    background: white;
                    width: calc(100% - 25%);
                    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    .section_image {
                        display: none;
                    }

                    .dotman_img {
                        height: 120px;
                        margin-left: 30px;
                        margin-top: 22px;
                    }

                    .contect_section {
                        width: calc(100% - 20%);
                        // margin-left: auto;

                        .who_we_are_heading {
                            padding: 60px;
                            min-height: 550px;

                            .heading_content {

                                // height: 370px;

                                // padding-left: 45px;
                                h2 {
                                    padding: 0 0 15px 0;
                                    // font-family: kohinoorbold;
                                    font-size: 30px;
                                }

                                .who_we_are_content {
                                    line-height: 29px;
                                    // max-height: 209px;
                                    overflow: hidden;
                                    // letter-spacing: 1px;
                                    // font-family: kohinoorlight;
                                    // &p {
                                    //     font-size: 15px!important;
                                    // }
                                }

                                // &:hover {
                                //     ::-webkit-scrollbar {
                                //         display: block;
                                //     }
                                // }
                                // ::-webkit-scrollbar {
                                //     width: 3px;
                                //     display: none;
                                //     }
                                //     ::-webkit-scrollbar-thumb {
                                //     background: #66676a;
                                //     }

                                .visit_btn {
                                    border: 1px solid black;
                                    padding: 5px 25px;
                                    border-radius: 0;
                                    cursor: pointer;
                                    margin: 20px 0;
                                }

                                img {
                                    cursor: pointer;
                                }
                            }

                        }
                    }
                }

                // }
            }
        }
    }

    // Our history section
    .our_history_section {
        background: #f4f4f4;
        padding: 90px 60px 180px 60px;
        //position: sticky;
        top: -25%;
        // box-shadow: 0 -8px 10px -8px lightgrey;

        .our_history_section_container {
            position: relative;

            .section_image_absolute {
                // height: calc(100% - 100px);
                // width: 45%;
                top: 142px;
                // padding-left: 30px;
                right: 0px;
                width: calc(100% - 60%);
                position: absolute;

                // bottom: -120px;
                img {
                    object-fit: cover;
                }
            }

            .section_row {
                .section_col2 {
                    width: calc(100% - 25%);
                    // padding-right: 0;
                    position: relative;
                    background: white;
                    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    .dotman_img {
                        height: 120px;
                        // width: 173px;
                        // margin-left: auto;
                        margin-right: 30px;
                        margin-top: 22px;
                    }

                    .section_image {
                        display: none;
                    }

                    .contect_section {
                        width: calc(100% - 20%);

                        .who_we_are_heading {
                            padding: 60px;
                            min-height: 550px;

                            .heading_content {
                                // height: 370px;

                                h2 {
                                    padding-bottom: 15px;
                                    // font-family: kohinoorbold;
                                    font-size: 30px;
                                }

                                .who_we_are_content {
                                    line-height: 29px;
                                    // max-height: 209px;
                                    // overflow: hidden;
                                    // letter-spacing: 1px;
                                    font-size: 20px;
                                    // font-family: kohinoorlight;
                                }

                                
                                .dothead_1024 {
                                    display: none;
                                }

                                // &:hover {
                                //     ::-webkit-scrollbar {
                                //         display: block;
                                //     }
                                // }
                                // ::-webkit-scrollbar {
                                //     width: 3px;
                                //     display: none;
                                //     }
                                //     ::-webkit-scrollbar-thumb {
                                //     background: #66676a;
                                //     }

                                .visit_btn {
                                    border: 1px solid black;
                                    padding: 5px 25px;
                                    border-radius: 0;
                                    cursor: pointer;
                                    margin: 20px 0;
                                }

                                img {
                                    cursor: pointer;
                                }
                                .shape_section {
                                    display: none;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    // Volunteering section
    .volunteering_section {
        background: #f4f4f4;
        padding: 90px 60px 218px 60px;
        position: -webkit-sticky;
        //position: sticky;
        // z-index: 99;
        // top: -25px;
        // box-shadow: 0 -8px 10px -8px lightgrey;

        .volunteering_section_container {
            position: relative;

            .section_image_absolute {
                // height: calc(100% - 120px);
                // width: 45%;
                width: 40%;
                position: absolute;
                top: 142px;

                img {
                    object-fit: cover;
                }
            }

            .section_row {
                .section_col2 {
                    // padding-left: 0 !important;
                    position: relative;
                    background: white;
                    width: calc(100% - 25%);
                    margin-left: auto;
                    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    .section_image {
                        display: none;
                    }

                    .dotman_img {
                        height: 120px;
                        margin-left: 30px;
                        margin-top: 22px;
                    }

                    .contect_section {
                        width: calc(100% - 20%);
                        // margin-left: auto;

                        .who_we_are_heading {
                            padding: 60px;
                            min-height: 550px;

                            .heading_content {
                                height: 304px;

                                h2 {
                                    padding-bottom: 15px;
                                    // font-family: kohinoorbold;
                                    font-size: 30px;
                                }

                                .who_we_are_content {
                                    line-height: 29px;
                                    max-height: 209px;
                                    overflow: hidden;
                                    // letter-spacing: 1px;
                                    font-size: 20px;
                                    // font-family: kohinoorlight;
                                }

                                // &:hover {
                                //     ::-webkit-scrollbar {
                                //         display: block;
                                //     }
                                // }
                                // ::-webkit-scrollbar {
                                //     width: 3px;
                                //     display: none;
                                //     }
                                //     ::-webkit-scrollbar-thumb {
                                //     background: #66676a;
                                //     }

                                .visit_btn {
                                    border: 1px solid black;
                                    padding: 5px 25px;
                                    border-radius: 0;
                                    cursor: pointer;
                                    margin: 20px 0;
                                }

                                img {
                                    cursor: pointer;
                                }
                            }

                        }
                    }
                }
            }
        }
    }

    .parallaxParent {
        height: 100vh;
        overflow: hidden;
    }

    .parallaxParent>* {
        height: 200%;
        position: relative;
        top: -100%;
    }
}

:host ::ng-deep {
    .all_section {
        .card_section {
            .container-fluid {
                .section_content {
                    .section_text {
                        p {
                            // max-height: 90px!important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .all_section {
        .card_section {
            top: -75%;
        }
    }
}

//responsiveness for multiple screens
@media (max-width:1299px) {
    .all_section {
        .static_section {

            .static_row {
                .content_section {
                    padding: 32.25px 0;

                    p {
                        font-size: 37px;
                    }
                }
            }

            .map_col {
                // height: 473px!important;

                img {
                    width: 100%;
                    height: 100%;
                    // object-fit: cover;
                }
            }
        }

        .card_section {

            .container-fluid {
                .section_content {

                    .section_text {
                        font-size: 17px;
                        min-height: 130px;
                    }

                    .dot_man2 {
                        width: 105px;
                        height: 105px;
                    }
                }

                .nav_link_cards {
                    .project_card {
                        .card_box {

                            .card_image {
                                height: 275px;
                            }

                            .card_content {
                                min-height: 294px;
                                background: white;
                                padding: 30px;
                                position: relative;

                                .card_heading {
                                    // font-family: kohinoorbold;
                                    font-size: 23px;
                                    // letter-spacing: 2px;
                                    font-weight: 700;
                                    padding-bottom: 15px;
                                }

                                .card_text {
                                    font-size: 17px;
                                    height: 160px;
                                }

                                .design_section {
                                    width: 26px;
                                    height: 26px;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    border-top-left-radius: 100%;
                                    background-color: #ffca05;

                                    &:first-child {
                                        // background: black;
                                    }
                                }
                            }
                        }
                    }

                    justify-content: space-between;
                }
            }
        }

        .gallery_section {

            .gallery_container {

                .gallery_heading {

                    .heading {
                        font-size: 45px;
                    }
                }

                .gallery_img {
                    .gallery_row {
                        justify-content: space-between;

                        img {
                            object-fit: cover;
                        }

                        .banner_img {
                            height: 501px;

                        }

                        .bulk_images {

                            .images_row {

                                .images {
                                    height: 243px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .who_we_are_section {
            padding: 90px 60px 141px 60px;

            .who_we_are_container {

                .section_image_absolute {
                    top: 151px;
                    // padding-right: 30px;
                }

                .section_row {
                    .section_col2 {

                        .dotman_img {
                            // height: 150px;
                            // width: 150px;
                            margin-top: 31px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 60px;
                                // min-height: 510px;

                                .heading_content {
                                    h2 {
                                        padding: 0 0 15px 0;
                                        font-size: 30px;
                                    }

                                    .who_we_are_content {
                                        line-height: normal;
                                        font-size: 17px;
                                        // letter-spacing: 0px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        .our_history_section {
            padding: 90px 60px 141px 60px;

            .our_history_section_container {

                .section_image_absolute {
                    top: 151px;
                    // padding-left: 15px;
                }

                .section_row {
                    .section_col2 {

                        .dotman_img {
                            // height: 127px;
                            // width: 170px;
                            margin-top: 31px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 60px;

                                // min-height: 510px;
                                .heading_content {
                                    h2 {
                                        padding: 0 0 15px 0;
                                        font-size: 30px;
                                    }

                                    .who_we_are_content {
                                        line-height: normal;
                                        // letter-spacing: 0px;
                                        font-size: 17px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .volunteering_section {
            padding: 90px 60px 211px 60px;

            .volunteering_section_container {

                .section_image_absolute {
                    top: 151px;
                    // padding-right: 30px;
                }

                .section_row {
                    .section_col2 {

                        .dotman_img {
                            // height: 140px;
                            // width: 150px;
                            margin-top: 31px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 60px;
                                min-height: 510px;

                                .heading_content {
                                    h2 {
                                        padding: 0 0 15px 0;
                                        font-size: 30px;
                                    }

                                    .who_we_are_content {
                                        line-height: normal;
                                        // letter-spacing: 0px;
                                        font-size: 17px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}


// @media (max-width:1199px) {
//     .all_section {
//         .static_section {
//             .static_row {
//                 .content_col {
//                     padding: 60px 75px 60px 75px;
//                 }
//             }
//         }

//         .gallery_section {
//             .gallery_container {
//                 .gallery_img {
//                     .gallery_row {
//                         .banner_img {
//                             height: 490px;
//                         }

//                         .bulk_images {
//                             .images_row {
//                                 .images {
//                                     height: 245px;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }

//         .who_we_are_section {
//             .who_we_are_container {
//                 .section_image_absolute {
//                     height: 387px;
//                     width: 575px;
//                 }

//                 .section_row {
//                     .section_col2 {
//                         .who_we_are_heading {
//                             padding: 80px 15px;
//                         }
//                     }
//                 }
//             }
//         }

//         .our_history_section {
//             .our_history_section_container {
//                 .section_image_absolute {
//                     height: 387px;
//                     width: 575px;
//                 }

//                 .section_row {
//                     .section_col2 {
//                         .who_we_are_heading {
//                             padding: 80px 15px;
//                         }
//                     }
//                 }
//             }
//         }

//         .volunteering_section {
//             padding: 100px 0 77px 0;

//             .volunteering_section_container {
//                 .section_image_absolute {
//                     height: 387px;
//                     width: 575px;
//                 }

//                 .section_row {
//                     .section_col2 {
//                         .who_we_are_heading {
//                             padding: 80px 15px;
//                         }

//                         .dotman_img {
//                             margin: 95px 45px 0 0;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
@media (max-width:1199px) {
    .all_section {

        // margin-top: 120px;
        .static_section {

            // padding: 0 45px;
            .map_col {
                // height: 437px!important;
            }
        }

        .card_section {
            top: -60%;

            .container-fluid {
                .section_content {

                    .section_text {
                        min-height: 102px;
                    }
                }

                .nav_link_cards {
                    .project_card {
                        .card_box {
                            .card_content {
                                .card_heading {
                                    font-size: 20px;
                                }

                                .card_text {
                                    height: 155px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .gallery_section {
            top: -37%;
        }

        .who_we_are_section {
            top: -25%;

            .who_we_are_container {

                .section_image_absolute {
                    top: 151px;
                    // padding-right: 30px;
                }

                .section_row {
                    .section_col2 {

                        .dotman_img {
                            height: 110px;
                            // width: 150px;
                            margin-top: 41px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 30px;
                                min-height: 472px;

                                .heading_content {
                                    h2 {
                                        padding: 0 0 15px 0;
                                        font-size: 30px;
                                    }

                                    .who_we_are_content {
                                        line-height: normal;
                                        font-size: 17px;
                                        // letter-spacing: 0px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        .our_history_section {
            // padding: 30px;

            .our_history_section_container {

                .section_image_absolute {
                    // top: 151px;
                    // padding-left: 15px;
                }

                .section_row {
                    .section_col2 {

                        .dotman_img {
                            height: 110px;
                            // width: 170px;
                            margin-top: 41px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 30px;
                                min-height: 472px;
                            }
                        }
                    }
                }
            }
        }

        .volunteering_section {

            .volunteering_section_container {

                .section_image_absolute {
                    top: 151px;
                    // padding-right: 30px;
                }

                .section_row {
                    .section_col2 {

                        .dotman_img {
                            height: 110px;
                            margin-top: 41px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 30px;
                                min-height: 472px;

                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1024px) {
    .all_section {

        // margin-top: 90px;
        .static_section {

            // padding: 0 45px;
            .static_row {
                .map_col {
                    // height: 373px!important;
                }

                .content_section {
                    padding: 24px 0;

                    p {
                        font-size: 28px;
                    }
                }
            }
        }

        .card_section {
            padding: 75px 37.5px 45px 37.5px;

            .container-fluid {
                .section_content {
                    padding: 0 7.5px 90px 7.5px;

                    .section_text {
                        font-size: 15px;
                        // padding-bottom: 60px;
                        min-height: 112.5px;
                    }

                    .dot_man2 {
                        width: 85px;
                        height: 85px;
                    }
                }

                .nav_link_cards {
                    .project_card {
                        padding: 0 7.5px;

                        .card_box {

                            .card_image {
                                height: 200px;
                            }

                            .card_content {
                                min-height: 264px;
                                padding: 30px 15px;

                                .card_heading {
                                    font-size: 18px;
                                }

                                .design_section {
                                    width: 20px;
                                    height: 20px;
                                }

                                .card_text {
                                    font-size: 15px;
                                    height: 135px;
                                    overflow: hidden;
                                }
                            }
                        }
                    }

                    justify-content: space-between;
                }
            }
        }

        .gallery_section {
            padding: 75px 37.5px 45px 37.5px;

            .gallery_container {

                .gallery_heading {

                    .heading {
                        font-size: 35px;
                        padding-bottom: 15px;
                    }
                }

                .gallery_img {
                    .gallery_row {
                        justify-content: space-between;

                        img {
                            object-fit: cover;
                        }

                        .banner_img {
                            height: 375px;

                        }

                        .bulk_images {

                            .images_row {

                                .images {
                                    height: 180px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .who_we_are_section {
            padding: 75px 45px 105px 45px;

            .who_we_are_container {

                .section_image_absolute {
                    top: unset;
                    bottom: -108px;
                    width: 37.3%;
                    // padding-right: 15px;
                }

                .section_row {
                    .section_col2 {
                        width: 85.4%;
                        .dotman_img {
                            height: 100px;
                            // width: 110px;
                            margin: 20px 10px 0 30px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 30px;
                                min-height: 411px;

                                .heading_content {
                                    // height: 229px;

                                    h2 {
                                        font-size: 25px;
                                    }

                                    .who_we_are_content {
                                        font-size: 15px;
                                        max-height: 160px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        .our_history_section {
            padding: 75px 45px 105px 45px;

            .our_history_section_container {

                .section_image_absolute {
                    top: unset;
                    bottom: -108px;
                    width: 37.3%;
                    // padding-left: 15px;
                }

                .section_row {
                    .section_col2 {
                        width: 85.40%;

                        .dotman_img {
                            height: 68px;
                            // width: 120px;
                            margin-top: 0px;
                            margin-right: 0px;
                        }

                        .contect_section {
                            width: 100%;

                            .who_we_are_heading {
                                padding: 30px;
                                min-height: 411px;

                                .heading_content {
                                    // height: 229px;

                                    h2 {
                                        font-size: 25px;
                                        align-items: end;
                                        display: flex;
                                    }

                                    .who_we_are_content {
                                        font-size: 15px;
                                        // max-height: 160px;
                                    }

                                    
                                    .dothead_1024 {
                                        display: block;
                                    }
                                    .shape_section {
                                        display: block;
                                        width: 124px;
                                        height: 313px;
                                        float: right;
                                        margin: auto;
                                        shape-outside: inset(131px 0px 33px 0px);
                                    }
                                }
                            }
                        }

                        .dothead_section {
                            display: none;
                        }
                    }
                }
            }
        }

        .volunteering_section {
            padding: 75px 45px 105px 45px;

            .volunteering_section_container {

                .section_image_absolute {
                    top: 120px;
                    padding-right: 15px;
                }

                .section_row {
                    .section_col2 {

                        .dotman_img {
                            height: 100px;
                            // width: 100px;
                            margin: 20px 10px 0 30px;
                        }

                        .contect_section {

                            .who_we_are_heading {
                                padding: 75px 30px 75px 15px;
                                min-height: 405px;

                                .heading_content {
                                    height: 229px;

                                    h2 {
                                        font-size: 25px;
                                    }

                                    .who_we_are_content {
                                        font-size: 15px;
                                        max-height: 160px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:767px) {
    .all_section {
        // margin-top: 60px;

        .static_section {

            // padding: 0 30px;
            .static_row {

                .content_section {
                    padding: 15px 0;

                    p {
                        font-size: 20px;
                    }
                }

                .map_col {
                    // height: 280px!important;
                }
            }
        }

        .card_section {
            padding: 60px 22.5px 30px 22.5px;

            .container-fluid {
                .section_content {
                    .section_text {
                        font-size: 15px;
                    }

                    .dot_man2 {
                        width: 85px;
                        height: 60px;
                    }
                }

                .nav_link_cards {
                    .project_card {
                        padding: 0 7.5px;
                        width: 50%;
                        padding-bottom: 15px;

                        .card_box {

                            .card_image {
                                height: 225px;
                            }

                            .card_content {
                                padding: 30px 15px;

                                .card_heading {
                                    font-size: 18px;
                                }

                                .design_section {
                                    width: 20px;
                                    height: 20px;
                                }

                                .card_text {
                                    font-size: 15px;
                                }
                            }
                        }
                    }

                    justify-content: space-between;
                }
            }
        }

        .gallery_section {
            padding: 60px 22.5px 30px 22.5px;

            .gallery_container {

                .gallery_heading {

                    .heading {
                        font-size: 30px;
                        // padding-bottom: 15px;
                    }
                }

                .gallery_img {
                    .gallery_row {
                        justify-content: space-between;

                        img {
                            object-fit: cover;
                        }

                        .banner_img {
                            height: 271px;

                        }

                        .bulk_images {

                            .images_row {

                                .images {
                                    height: 128px;
                                }
                            }
                        }
                    }
                }
            }
        }

        // .who_we_are_section {

        //     .who_we_are_container {
        //         .section_image_absolute {
        //             display: none;
        //         }

        //         .section_row {
        //             .section_col2 {
        //                 .section_image {
        //                     display: block;
        //                     width: 100%;
        //                 }

        //                 .dotman_img {
        //                     height: 145px;
        //                     width: 125px;
        //                 }

        //                 .who_we_are_heading {
        //                     padding: 45px 0px;

        //                     h2 {
        //                         letter-spacing: 1px;
        //                         padding-bottom: 10px;
        //                         font-size: 1.8rem;
        //                     }

        //                     .who_we_are_content {
        //                         line-height: 25px;
        //                         font-size: 14px;
        //                     }

        //                     .visit_btn {
        //                         margin: 5px 0;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

        // .our_history_section {
        //     .our_history_section_container {
        //         .section_image_absolute {
        //             display: none;
        //         }

        //         .section_row {
        //             .main_content {
        //                 flex-direction: column-reverse;
        //             }

        //             .section_col2 {
        //                 .section_image {
        //                     display: block;
        //                     width: 100%;
        //                 }

        //                 .dotman_img {
        //                     height: 125px;
        //                     width: 125px;
        //                     margin-bottom: 15px;
        //                 }

        //                 .who_we_are_heading {
        //                     padding: 45px 0px;

        //                     h2 {
        //                         letter-spacing: 1px;
        //                         padding-bottom: 10px;
        //                         font-size: 1.8rem;
        //                     }

        //                     .who_we_are_content {
        //                         line-height: 25px;
        //                         font-size: 14px;
        //                     }

        //                     .visit_btn {
        //                         margin: 5px 0;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }

        // .volunteering_section {
        //     padding: 100px 0 60px 0;

        //     .volunteering_section_container {
        //         .section_image_absolute {
        //             display: none;
        //         }

        //         .section_row {
        //             .section_col2 {
        //                 .section_image {
        //                     display: block;
        //                     width: 100%;
        //                 }

        //                 .dotman_img {
        //                     height: 108px;
        //                     width: 108px;
        //                 }

        //                 .who_we_are_heading {
        //                     padding: 45px 0px;

        //                     h2 {
        //                         letter-spacing: 1px;
        //                         padding-bottom: 10px;
        //                         font-size: 1.8rem;
        //                     }

        //                     .who_we_are_content {
        //                         line-height: 25px;
        //                         font-size: 14px;
        //                     }

        //                     .visit_btn {
        //                         margin: 5px 0;
        //                     }
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}

// @media (max-width:575px) {
//     .all_section {
//         margin-top: 60px;

//         .static_section {
//             .static_row {
//                 .content_col {
//                     padding: 30px 55px 30px 55px;

//                     .static_content {
//                         font-size: 20px;
//                     }
//                 }

//                 .map_col {
//                     text-align: center;

//                     img {
//                         width: 75%;
//                     }
//                 }
//             }
//         }

//         .card_section {
//             top: -145%;
//         }

//         .gallery_section {
//             top: -35%;
//         }

//         .who_we_are_section {
//             top: -48%;
//         }

//         .our_history_section {
//             top: -48%;
//         }

//         .volunteering_section {
//             top: -48%;
//         }
//     }
// }

@media (max-width:426px) {
    .all_section {

        // margin-top: 90px;
        .static_section {

            // padding: 0 30px;
            .static_row {
                .map_col {

                    // height: 150px!important;
                    .absolute_content {
                        font-size: 10px !important;
                        bottom: 0;
                    }
                }

                .content_section {
                    padding: 19.5px 0;

                    p {
                        font-size: 15px;
                    }
                }
            }
        }

        .card_section {
            padding: 60px 30px 30px 30px;
            top: -145%;

            .container-fluid {
                .section_content {
                    padding: 0 0 90px 0;

                    .section_text {
                        width: 100%;
                        font-size: 15px;
                        min-height: 180px;
                        // padding-bottom: 90px
                    }

                    .dot_man2 {
                        width: 85px;
                        height: 85px;
                    }
                }

                .nav_link_cards {
                    .project_card {
                        padding: 0px;
                        width: 100%;
                        padding-bottom: 30px;

                        &:last-child {
                            padding-bottom: 0;
                        }

                        .card_box {

                            .card_image {
                                height: 200px;
                            }

                            .card_content {
                                min-height: 220px;
                                padding: 30px 15px;

                                .card_heading {
                                    font-size: 18px;
                                }

                                .design_section {
                                    width: 20px;
                                    height: 20px;
                                }

                                .card_text {
                                    font-size: 15px;
                                }
                            }
                        }
                    }

                    justify-content: space-between;
                }
            }
        }

        .gallery_section {
            top: -30px;
            padding: 60px 22.5px 30px 22.5px;

            .gallery_container {

                .gallery_heading {
                    padding: 0 7.5px;

                    .heading {
                        font-size: 25px;
                        padding-bottom: 15px;
                    }
                }

                .gallery_img {
                    .gallery_row {
                        justify-content: space-between;

                        img {
                            object-fit: cover;
                        }

                        .banner_img {
                            padding: 0;
                            height: 375px;
                            display: none;

                        }

                        .bulk_images {
                            width: 100%;

                            .images_row {

                                .images {
                                    padding: 0 7.5px;
                                    height: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .who_we_are_section {
            top: -29%;
            padding: 60px 30px 30px 30px;

            .who_we_are_container {
                .section_image_absolute {
                    display: none;
                }

                .section_row {
                    .section_col2 {
                        width: 100%;

                        .absolute_section {
                            display: block !important;

                            .section_image {
                                display: block;
                                width: 100%;
                                // height: 200px;
                                padding: 0 30px 0 30px;
                            }

                            .dotman_img {
                                height: 100%;
                                width: 120px;
                                margin: 30px 0 0 30px;
                                // margin-left: 30px;
                            }

                            .who_we_are_heading {
                                padding: 30px;
                                min-height: 100%;
                            }
                        }

                        .contect_section {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .our_history_section {
            top: -29%;
            padding: 60px 30px 30px 30px;

            .our_history_section_container {
                .section_image_absolute {
                    display: none;
                }

                .section_row {
                    .main_content {
                        flex-direction: column-reverse;
                    }

                    .section_col2 {
                        width: 100%;

                        .contect_section {
                            width: 100%;

                            .who_we_are_heading {
                                padding: 30px;
                                min-height: 100%;
                                .heading_content {
                                    .dothead_1024 {
                                        display: none;
                                    }
                                    .shape_section {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .dothead_section {
                            display: block;
                        }
                        .section_image {
                            padding: 0px 30px 0 30px;
                            display: block;
                            width: 100%;
                            // height: 200px;
                        }

                        .dotman_img {
                            height: 100%;
                            width: 120px;
                            margin: 30px 0 0 30px;
                        }
                    }
                }
            }
        }

        .volunteering_section {
            // top: -29%;
            padding: 60px 30px 30px 30px;

            .volunteering_section_container {
                .section_image_absolute {
                    display: none;
                }

                .section_row {
                    .section_col2 {
                        width: 100%;

                        .absolute_section {
                            display: block !important;

                            .section_image {
                                display: block;
                                width: 100%;
                                height: 200px;
                                padding: 0 30px 0 30px;
                            }

                            .dotman_img {
                                height: 140px;
                                width: 150px;
                                padding: 30px 0 0 30px;
                                margin: 0;
                            }

                            .contect_section {
                                width: 100%;

                                .who_we_are_heading {
                                    padding: 30px;
                                    min-height: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

@media (max-width:375px) {
    .all_section {
        .card_section {
            // padding: 60px 30px 30px 30px;
            top: -190%;
        }
    }
}

// @media (max-width:350px) {
//     .all_section {
//         .static_section {
//             .static_row {
//                 .content_col {
//                     padding: 30px;

//                     .static_content {
//                         font-size: 25px;
//                     }
//                 }
//             }
//         }

//         .card_section {
//             top: -167%;
//         }
//     }
// }

// @media (max-width:335px) {
//     .all_section {
//         .card_section {
//             top: -180%;
//         }
//     }
// }